In [35]:
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in /Users/specky3512/anaconda3/lib/python3.7/site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in /Users/specky3512/anaconda3/lib/python3.7/site-packages (from sklearn) (0.22.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /Users/specky3512/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /Users/specky3512/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /Users/specky3512/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.4.1)

In [14]:
import pandas as pd
from datetime import datetime as dt
import numpy as np
import requests
import config
import json
import time
import datetime
from pprint import pprint

In [18]:
df = pd.read_csv('data_files/fullplayerstatslist.csv')

In [22]:
df

,Unnamed: 0,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,4,Cavaliers,1,1,117,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
1,1,1,James,Jones,09d25155-c3be-4246-a986-55921a1b5e61,G-F,5,100.0,0.000,100.0,...,0,Cavaliers,1,1,117,5:30,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
2,2,2,J.R.,Smith,5934134d-0d27-42ea-a554-4b0e3e85ce56,G-F,8,0.0,20.000,25.0,...,0,Cavaliers,1,1,117,25:14,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
3,3,3,Kay,Felder,8d3acdd5-9b5a-4d69-9912-de42d979c31a,G,0,0.0,0.000,0.0,...,0,Cavaliers,1,1,117,00:00,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
4,4,4,Mike,Dunleavy,4ec1bff7-ec1b-488b-8a24-aed83e62b4ce,G-F,4,0.0,100.000,0.0,...,0,Cavaliers,1,1,117,22:32,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182364,8965,8965,Marial,Shayok,0a530034-a07c-4db3-a99e-17c5254c07e1,G-F,5,100.0,0.000,33.3,...,1,76ers,0,1,134,7:56,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182365,8966,8966,Josh,Richardson,ef11cca9-6605-44e8-943e-193c7b821465,G,5,0.0,50.000,50.0,...,0,76ers,0,1,134,23:18,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182366,8967,8967,Glenn,Robinson III,7f462af0-2ac8-4ca5-aa5a-17b37dc5001b,F,0,0.0,0.000,0.0,...,0,76ers,0,1,134,00:00,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182367,8968,8968,Raul,Neto,8e7ffd66-f779-418c-bf18-b9f746a1c5fe,G,14,71.4,60.000,33.3,...,0,76ers,0,1,134,18:44,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182368,8969,8969,Tobias,Harris,82f09975-6a8d-42e4-b42c-a52b9349ed50,F,18,100.0,57.100,66.7,...,0,76ers,0,1,134,23:58,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00

In [68]:
df_dropped = df[df['Min_played'] != "00:00"]
df_dropped = df_dropped[df_dropped['Crowd'] != 'Covid']
df_dropped = df_dropped[df_dropped['Crowd'] != '0']
df_dropped= df_dropped[["Points", "Free_Throw_Percent",
                  "Two_Pt_Percent",
                  "Three_Pt_Percent", "Assists",
                  "Rebounds", "Offensive_Rebounds",
                  "Steals", "Personal_Fouls",
                  "Flagrant_Fouls", "Tech_Fouls",
                  "Turnovers",
                  "Home_Away", "win", 
                  "Crowd"
                  ]].reset_index(drop = True)
df_dropped

,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,Rebounds,Offensive_Rebounds,Steals,Personal_Fouls,Flagrant_Fouls,Tech_Fouls,Turnovers,Home_Away,win,Crowd
0,19,50.0,81.818,0.0,14,11,3,0,3,0,0,4,1,1,20562
1,5,100.0,0.000,100.0,0,0,0,0,1,0,0,0,1,1,20562
2,8,0.0,20.000,25.0,2,3,0,1,1,0,0,0,1,1,20562
3,4,0.0,100.000,0.0,2,4,0,3,0,0,0,0,1,1,20562
4,23,75.0,44.444,33.3,2,12,2,3,3,0,0,2,1,1,20562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120379,12,0.0,50.000,40.0,3,8,1,1,4,0,0,2,0,0,20302
120380,9,100.0,100.000,66.7,0,2,0,0,3,0,0,0,0,0,20302
120381,25,100.0,63.600,27.3,5,6,0,1,2,0,0,4,0,0,20302
120382,14,0.0,87.500,0.0,8,13,2,0,3,0,0,5,0,0,20302
120383,8,50.0,100.000,33.3,1,0,0,0,1,0,0,1,0,0,20302

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [70]:
X = df_dropped.drop('win', axis=1)
print(X.shape)

(120384, 14)

In [71]:
y = df_dropped['win']
print(y.shape)

(120384,)

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [73]:
X_train.head()

,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,Rebounds,Offensive_Rebounds,Steals,Personal_Fouls,Flagrant_Fouls,Tech_Fouls,Turnovers,Home_Away,Crowd
107112,6,0.0,0.0,66.7,1,3,0,0,1,0,0,2,0,18171
72656,15,87.5,66.7,0.0,4,10,4,2,1,0,0,2,1,19579
12520,20,0.0,16.7,85.7,1,4,2,0,1,0,0,0,0,18689
80877,24,100.0,100.0,40.0,1,5,1,0,0,0,0,1,0,13317
72701,10,0.0,62.5,0.0,3,8,3,0,1,0,0,1,0,19812

In [74]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
from sklearn.ensemble import RandomForestClassifier

model1 = RandomForestClassifier(n_estimators=100)
model1.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [79]:
print(f"Training Data Score: {round(model1.score(X_train_scaled, y_train)*100,2)}%")
print(f"Testing Data Score: {round(model1.score(X_test_scaled, y_test)*100,2)}%")

Training Data Score: 99.36%
Testing Data Score: 71.99%

In [77]:
feature_names = X.columns.tolist()
preSelected_features = sorted(zip(model1.feature_importances_, feature_names), reverse=True)
ranked_features = pd.DataFrame(preSelected_features, columns=['Score', 'Feature'])
ranked_features = ranked_features.set_index('Feature')
ranked_features

                       Score
Feature
Crowd               0.243487
Points              0.103611
Rebounds            0.097853
Two_Pt_Percent      0.096310
Assists             0.079826
Personal_Fouls      0.073040
Three_Pt_Percent    0.061347
Turnovers           0.056802
Free_Throw_Percent  0.053108
Offensive_Rebounds  0.050425
Steals              0.047869
Home_Away           0.027552
Tech_Fouls          0.007056
Flagrant_Fouls      0.001715